:root {
    --primary_color: #2932AC;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.c-white {
    color: white;
}

header {
    background-color: var(--primary_color);
    color: white;
}

header a {
    color: white;
}

header a:hover {
    color: white;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.container-header .logo {
    font-size: 30px;
}

.container-header ul {
    display: flex;
    align-items: center;
}

.container-header ul li a {
    padding: 10px 20px;
}

.container-header .menu {
    display: flex;
    align-items: center;
}

.container-header .account {
    display: flex;
    align-items: center;
}

.container-header .avatar {
    font-size: 35px;
    margin-right: 5px;
}

.container-header .nav-btn {
    position: relative;
}

.container-header .nav-btn:hover ul {
    display: inline-block;
}

.container-header .nav-btn ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px -9px #000000;
    padding: 10px;
    overflow: hidden;
}

.container-header .nav-btn ul a {
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.container-header .nav-btn ul a:hover {
    color: var(--primary_color);
    background-color: rgb(245, 245, 245);
}

.container-header .nav-btn a {
    color: black;
}

.container-header .nav-btn span {
    font-size: 30px;
    cursor: pointer;
}

.container-footer {
    background-image: url('../../assets/images/bg-footer.png');
    background-size: 100% 100%;
    height: 500px;
    padding: 20px;
    position: relative;
}

.container-footer .company {
    display: flex;
}

.container-footer .contact {
    display: inline-block;
    width: 450px;
}

.container-footer .contact-group {
    margin-bottom: 20px;
}

.container-footer .contact-group p {
    margin: 10px 0px;
}

.container-footer .contact-group h3 {
    color: white;
}

.container-footer .app {
    margin-left: 100px;
}

.container-footer .app h3 {
    margin: 50px 0px 20px;
    color: rgb(255, 174, 0);
    font-size: 20px;
    text-align: center;
}

.container-footer .app .downloads {
    display: flex;
}

.container-footer .app .download {
    margin: 0px 20px;
}


.container-footer .app .qr {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.container-footer .app .store-btn {
    text-align: center;
}

.container-footer .app .store-btn img {
    width: 100px;
    cursor: pointer;
}

.container-footer .app .qr img {
    width: 150px;
    cursor: pointer;
}

.container-footer .certificate {
    position: absolute;
    bottom: 10px;
    color: white;
}

@media only screen and (max-width: 1080px) {
    .container-footer .app {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 980px) {
    .container-footer {
        background-image: none;
        background-color: #918ac8;
        height: 800px;
        border-bottom: 80px solid #4a1ab4;
    }

    .container-footer .company {
        display: block;
    }

    .container-footer .app {
        margin-left: 0px;
    }

    .container-footer .app .downloads {
        justify-content: space-around;
    }

    .container-footer .certificate {
        bottom: -60px;
    }
}

/*-----introduce------*/

/*-----introduce-container-title-----*/
.introduce-title {
    margin: 50px;
}

.introduce-title h1 {
    letter-spacing: 3px;
    font-size: 55px;
    font-weight: 700;
}

.introduce-title .introduce-title-author {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    margin: 10px;
    letter-spacing: 2px;
}

.introduce-title .introduce-title-author p:first-child {
    margin-right: 17px;
}

/*-----introduce-container-share-----*/
.content-share {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.content-share .content-share-icon a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.content-share .content-share-button {
    display: flex;
    justify-content: start;
}

.content-share .content-share-button button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #3F5FF6;
    color: #fff;
    height: 45px;
    font-size: 12px;
    margin-right: 10px;
    padding: 15px;
    width: 115px;

}

.content-share .content-share-button button:nth-child(2) {
    background-color: #EF6F38;
    margin-right: 0px;
}

.content-share .content-share-button button .content-share-button-icon {
    margin-right: 7px;
}

/*-----introduce-container-content-----*/
.introduce-content {
    margin: 50px;
}

.introduce-content p:first-child {
    color: #2D31B4;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 20px 5px;
}

/*-----introduce-container-pdf-----*/
.introduce-pdf {
    margin: 50px;
}

.introduce-pdf iframe {
    width: 100%;
    height: 500px;
}

/*-----introduce-container-scroll-----*/
.introduce-scroll {
    margin: 50px;
}

.introduce-scroll ul {
    height: 250px;
    overflow-y: scroll;
    box-shadow: 2px 2px 4px 4px #f9f9f9;

}

.introduce-scroll ul li {
    display: flex;
    font-size: 18px;
    color: #726c6c;
    margin-bottom: 15px;
    height: 45px;
    line-height: 2;
    align-items: center;

}

.introduce-scroll ul li:first-child {
    background-color: #ededed;
    border-radius: 5px;
}

.introduce-scroll ul li .introduce-scroll-stt {

    margin-right: 10px;
}

.introduce-scroll ul li .introduce-scroll-chapter {


    margin-right: 10px;
}

.introduce-scroll ul li .introduce-scroll-title {


    margin-right: 10px;
}